# editorconfig.org
root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.md]
trim_trailing_whitespace = false

[*.{js,jsx,ts,tsx,vue}]
indent_size = 2
indent_style = space

[*.{json,yaml,yml}]
indent_size = 2
indent_style = space

[*.{css,scss,sass,less}]
indent_size = 2
indent_style = space

[*.{html,htm}]
indent_size = 2
indent_style = space

[*.{sql}]
indent_size = 4
indent_style = space

[*.{py}]
indent_size = 4
indent_style = space

[*.{sh,bash,zsh}]
indent_size = 2
indent_style = space
end_of_line = lf

[*.{bat,cmd}]
indent_size = 2
indent_style = space
end_of_line = crlf
